<div class="c-bridge-details">
    <h4 class="text-primary">{{ entry.title }}</h3>
    <div class="text-gray" data-toggle="collapse" data-target="#collapse{{ entry.id }}" aria-expanded="true" aria-controls="collapse{{ entry.id }}">Show detailled info</a>
</div>