<div class="c-bridges-list-item--status d-flex justify-content-between align-items-center">
    <span class="text-gray ml-2">{{ "Lo " | t }}</span>
    <div class="c-bridges-list-item--status-dot {{ statusLeftBank ? 'active' : 'inactive' }} ml-2"></div>
    <span class="text-gray ml-2">{{ "Ro " | t }}</span>
    <div class="c-bridges-list-item--status-dot {{ statusRightBank ? 'active ' : 'inactive ' }}ml-2 mr-1"></div>                                    
</div>