.c-blogDetail-content {
    height: 100vh;
}

.c-blogDetail_image {
    width: 100%;
    height: 30vh;
    background-size: cover;
}

.c-blogDetail-content_text {
    padding-right: 40px;
    p {
        text-align: justify;
    }
}