.c-blog-detail {
    margin-left: -1000px;
    width: 100%;
    background-color: $dark;
    height: 100%;
    z-index: 1;
}

.c-blog-detail_close {
    position: absolute;
    font-family: 'Flanders Art Sans';
    right: 30px;
    top: 15px;
}

.c-blog-detail-content {
    height: auto;
}

.c-blog-detail_image {
    width: 100%;
    height: 30vh;
    background-size: cover;
}

.c-blog-detail-content_text {
    padding-right: 40px;
    p {
        text-align: justify;
    }
}