@font-face {
    font-family: 'Flanders Art Serif';
    src: url('../fonts/flandersartserif-light-webfont.woff2') format('woff2'),
         url('../fonts/flandersartserif-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Serif';
    src: url('../fonts/flandersartserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/flandersartserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Serif';
    src: url('../fonts/flandersartserif-medium-webfont.woff2') format('woff2'),
         url('../fonts/flandersartserif-medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Serif';
    src: url('../fonts/flandersartserif-bold-webfont.woff2') format('woff2'),
         url('../fonts/flandersartserif-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Sans';
    src: url('../fonts/flandersartsans-light-webfont.woff2') format('woff2'),
    url('../fonts/flandersartsans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Sans';
    src: url('../fonts/flandersartsans-regular-webfont.woff2') format('woff2'),
    url('../fonts/flandersartsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Sans';
    src: url('../fonts/flandersartsans-medium-webfont.woff2') format('woff2'),
    url('../fonts/flandersartsans-medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Flanders Art Sans';
    src: url('../fonts/flandersartsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/flandersartsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}