<div class="c-bridge-details bg-primary">
    {% for service in entry.services.escalators.all() %}
       <div class="d-flex flex-row">
            <div class="c-lifts-icon">
                {{ service.leftBank }}
            </div>
            <div class="c-lifts-icon">
                {{ service.rightBank }}
            </div>
       </div>
    {% endfor %}
    <h4 id="{{ entry.id }}">{{ entry.title }}</h3>
</div>